<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include ("../reference/head2.ejs") %>
    <title>D&D project main</title>
  </head>
  <script>
    function view_payment(){
      location.href="/payment/request"
    }
  </script>
  <body>
    <!--main section-->
    <section id="main">
      <!--main header (로그인 전 화면이랑 ejs 따로 저장.) -->
      <header>
        <%- include ("../reference/menu.ejs") %>
      </header>
      <!--end main header -->
      <div class="main container">
        <div class="paymentList">
            <h1>Payment</h1>
            <div class="paylistBlackboard">
                <h2>Payment list</h2>
                <div class=content>
                        <table>
                          <tr>
                            <th>#</th>
                            <th>문서번호</th>
                            <th>계약금</th>
                            <th>기성금</th>
                            <th>노무비</th>
                            <th>예외금</th>
                            <th>지급 상황</th>
                          </tr>
                          <%if(payment_list.length == 0){%>
                            <tr>
                              <td colspan="7">지급 내역이 존재하지 않습니다.</td>
                            </tr>
                          <%} else { 
                            for (var i=0;i < payment_list.length;i++) {%>
                            <tr>
                            <!-- 첫번째 줄 시작 -->
                             <td><%=i+1%></td>
                             <td><%=payment_list[i][0]%></td>
                             <td><%=payment_list[i][2]%></td>
                             <td><%=payment_list[i][3]%></td>
                             <td><%=payment_list[i][4]%></td>
                             <td><%=payment_list[i][5]%></td>
                             <%if (payment_list[i][1] == 0){%>
                              <td>지급 요청</td>
                              <%}else if (payment_list[i][1] == 1){%>
                                <td>입금 확인</td>
                              <%}else if (payment_list[i][1] == 2){%>
                                <td>지급 완료</td>
                              <%}else{%>
                                <td>-</td>
                              <%}%>
                            </tr>
                            <%}}%>
                        </table>
                    </div>
                 </div>
            </body>
        </body>
        </div>
        </div>
        </div>  
      </div>
    </section>
    <!--end main section-->
  </body>
</html>